font-style: normal; font-size: 2.1em; padding: 0 0 0 .35em; line-height: 1.2; font-family: "league-gothic"; color: #262B2F; border-left: 4px solid firebrick; margin-bottom: .3em;	display: block; /* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

.introtitle {
	font-style: normal; 
	font-size: 2.1em; 
	padding: 0 0 0 .35em; 
	line-height: 1.2; 
	font-family: "league-gothic"; 
	color: #262B2F; 
	border-left: 4px solid firebrick; 
	margin-bottom: .3em;	
	display: block; 
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.introtitle {
font-style: normal;  	font-size: 2.1em;  	padding: 0 0 0 .35em;  	line-height: 1.2;  	font-family: "league-gothic";  	color: #262B2F;  	border-left: 4px solid firebrick;  	margin-bottom: .3em;	 	display: block;  
}

