<!DOCTYPE root[<!ELEMENT SubmenuMiscellaneous ANY>
<!ATTLIST SubmenuMiscellaneous id ID #REQUIRED>
<!ELEMENT SubmenuEditorsChoice ANY>
<!ATTLIST SubmenuEditorsChoice id ID #REQUIRED>
 
<!ELEMENT AmazonProduct ANY>
<!ATTLIST AmazonProduct id ID #REQUIRED>
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogpostCarry ANY>
<!ATTLIST BlogpostCarry id ID #REQUIRED>
<!ELEMENT BlogpostJungler ANY>
<!ATTLIST BlogpostJungler id ID #REQUIRED>
<!ELEMENT BlogpostMech ANY>
<!ATTLIST BlogpostMech id ID #REQUIRED>
<!ELEMENT Blogpostmetagame ANY>
<!ATTLIST Blogpostmetagame id ID #REQUIRED>
<!ELEMENT BlogpostOfflane ANY>
<!ATTLIST BlogpostOfflane id ID #REQUIRED>
<!ELEMENT BlogpostSemicarry ANY>
<!ATTLIST BlogpostSemicarry id ID #REQUIRED>
<!ELEMENT BlogpostSupport ANY>
<!ATTLIST BlogpostSupport id ID #REQUIRED>
<!ELEMENT Carry ANY>
<!ATTLIST Carry id ID #REQUIRED>
<!ELEMENT Experiencefilteradvance ANY>
<!ATTLIST Experiencefilteradvance id ID #REQUIRED>
<!ELEMENT Experiencefilterbeginner ANY>
<!ATTLIST Experiencefilterbeginner id ID #REQUIRED>
<!ELEMENT Experiencefilterintermediate ANY>
<!ATTLIST Experiencefilterintermediate id ID #REQUIRED>
<!ELEMENT Experiencefilterpositionsadvance ANY>
<!ATTLIST Experiencefilterpositionsadvance id ID #REQUIRED>
<!ELEMENT Experiencefilterpositionsbeginner ANY>
<!ATTLIST Experiencefilterpositionsbeginner id ID #REQUIRED>
<!ELEMENT Experiencefilterpositionsintermediate ANY>
<!ATTLIST Experiencefilterpositionsintermediate id ID #REQUIRED>
<!ELEMENT ExperiencelevelCarry ANY>
<!ATTLIST ExperiencelevelCarry id ID #REQUIRED>
<!ELEMENT ExperiencelevelJungler ANY>
<!ATTLIST ExperiencelevelJungler id ID #REQUIRED>
<!ELEMENT ExperiencelevelOfflane ANY>
<!ATTLIST ExperiencelevelOfflane id ID #REQUIRED>
<!ELEMENT ExperiencelevelSemicarry ANY>
<!ATTLIST ExperiencelevelSemicarry id ID #REQUIRED>
<!ELEMENT ExperiencelevelSupport ANY>
<!ATTLIST ExperiencelevelSupport id ID #REQUIRED>
<!ELEMENT Experiencelevelfiltermechadvance ANY>
<!ATTLIST Experiencelevelfiltermechadvance id ID #REQUIRED>
<!ELEMENT Experiencelevelfiltermechbeginner ANY>
<!ATTLIST Experiencelevelfiltermechbeginner id ID #REQUIRED>
<!ELEMENT Experiencelevelfiltermechintermediate ANY>
<!ATTLIST Experiencelevelfiltermechintermediate id ID #REQUIRED>
<!ELEMENT Experiencelevelfiltermetagameadvance ANY>
<!ATTLIST Experiencelevelfiltermetagameadvance id ID #REQUIRED>
<!ELEMENT Experiencelevelfiltermetagamebeginner ANY>
<!ATTLIST Experiencelevelfiltermetagamebeginner id ID #REQUIRED>
<!ELEMENT Experiencelevelfiltermetagameintermediate ANY>
<!ATTLIST Experiencelevelfiltermetagameintermediate id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Jungler ANY>
<!ATTLIST Jungler id ID #REQUIRED>
<!ELEMENT Offlane ANY>
<!ATTLIST Offlane id ID #REQUIRED>
<!ELEMENT SemiCarry ANY>
<!ATTLIST SemiCarry id ID #REQUIRED>
<!ELEMENT SubcategoryHeroes ANY>
<!ATTLIST SubcategoryHeroes id ID #REQUIRED>
<!ELEMENT SubcategoryMechanics ANY>
<!ATTLIST SubcategoryMechanics id ID #REQUIRED>
<!ELEMENT SubcategoryMetagame ANY>
<!ATTLIST SubcategoryMetagame id ID #REQUIRED>
<!ELEMENT SubcategoryPositions ANY>
<!ATTLIST SubcategoryPositions id ID #REQUIRED>
<!ELEMENT SubcategoryProducts ANY>
<!ATTLIST SubcategoryProducts id ID #REQUIRED>
<!ELEMENT SubmenuIntrotodota2 ANY>
<!ATTLIST SubmenuIntrotodota2 id ID #REQUIRED>
<!ELEMENT SubmenuPositions ANY>
<!ATTLIST SubmenuPositions id ID #REQUIRED>
<!ELEMENT Support ANY>
<!ATTLIST Support id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1065" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-07-15T12:09:10" updateDate="2014-07-15T12:09:10" nodeName="Homepage" urlName="homepage" path="-1,1065" isDoc="" nodeType="1051" creatorName="Mygel" writerName="Mygel" writerID="0" template="1050" nodeTypeAlias="Homepage">
    <SubcategoryPositions id="1066" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2014-07-15T12:09:34" updateDate="2015-01-10T03:21:15" nodeName="Positions" urlName="positions" path="-1,1065,1066" isDoc="" nodeType="1053" creatorName="Mygel" writerName="Mygel" writerID="0" template="1052" nodeTypeAlias="SubcategoryPositions">
      <Carry id="1194" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2014-11-30T23:22:29" updateDate="2014-11-30T23:48:42" nodeName="Carry" urlName="carry" path="-1,1065,1066,1194" isDoc="" nodeType="1154" creatorName="Mygel" writerName="Mygel" writerID="0" template="1153" nodeTypeAlias="Carry">
        <ExperiencelevelCarry id="1195" parentID="1194" level="4" creatorID="0" sortOrder="0" createDate="2014-11-30T23:22:36" updateDate="2014-11-30T23:52:03" nodeName="Beginner" urlName="beginner" path="-1,1065,1066,1194,1195" isDoc="" nodeType="1168" creatorName="Mygel" writerName="Mygel" writerID="0" template="1122" nodeTypeAlias="ExperiencelevelCarry">
          <test>1221</test>
          <BlogpostCarry id="1214" parentID="1195" level="5" creatorID="0" sortOrder="0" createDate="2014-11-30T23:27:19" updateDate="2015-06-02T22:21:59" nodeName="Beginner: Carry Post #1" urlName="beginner-carry-post-1" path="-1,1065,1066,1194,1195,1214" isDoc="" nodeType="1170" creatorName="Mygel" writerName="Mygel" writerID="0" template="1163" nodeTypeAlias="BlogpostCarry">
            <CourseImageBanner><![CDATA[/media/1221/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Beginner]]></filter>
            <textbox><![CDATA[<p> </p>
<p><span class="introtitle h1">Welcome to BreatheDotA. The Best Guides in DotA</span></p>
<p>Today we’d like to share a couple of tab styles with you. The collection contains some styles and effects  blandit purus dolor, et interdum ante elementum eu. Nam eget sollicitudin metus. Vestibulum hendrerit diam ipsum, in commodo lacus aliquet a. Phasellus eu faucibus lacus, eget sagittis metus. Mauris imperdiet vestibulum nibh, et euismod mi dictum et. Vestibulum non molestie nulla. Aenean ut vulputate tortor. Curabitur ac pellentesque justo, sit amet consequat magna.</p>
<p> </p>
<p><img src="/media/1030/dota-2014-09-16-21-28-30-02.jpg" alt="undefined" rel="1221" /></p>
<p> </p>
<p><span class="introtitle">What is BreatheDotA about?</span></p>
<p>Today we’d like to share a couple of tab styles with you. The collection contains some styles and effects  blandit purus dolor, et interdum ante elementum eu. Nam eget sollicitudin metus. Vestibulum hendrerit diam ipsum, in commodo lacus aliquet a. Phasellus eu faucibus lacus, eget sagittis metus. Mauris imperdiet vestibulum nibh, et euismod mi dictum et. Vestibulum non molestie nulla. Aenean ut vulputate tortor. Curabitur ac pellentesque justo, sit amet consequat magna.</p>
<p> </p>
<p>Today we’d like to share a couple of tab styles with you. The collection contains some styles and effects  blandit purus dolor, et interdum ante elementum eu. Nam eget sollicitudin metus. Vestibulum hendrerit diam ipsum, in commodo lacus aliquet a. Phasellus eu faucibus lacus, eget sagittis metus. Mauris imperdiet vestibulum nibh, et euismod mi dictum et. Vestibulum non molestie nulla. Aenean ut vulputate tortor. Curabitur ac pellentesque justo, sit amet consequat magna.</p>]]></textbox>
            <description><![CDATA[<div class="RecentArticlesMetaTitle">
<p id="BlogDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis urna non ex iaculis iaculis. Cras id scelerisque nibh. Cras at dapibus nunc.</p>
</div>]]></description>
          </BlogpostCarry>
          <BlogpostCarry id="1225" parentID="1195" level="5" creatorID="0" sortOrder="1" createDate="2014-12-01T00:11:56" updateDate="2015-01-09T23:00:32" nodeName="Beginner: Carry Post #2" urlName="beginner-carry-post-2" path="-1,1065,1066,1194,1195,1225" isDoc="" nodeType="1170" creatorName="Mygel" writerName="Mygel" writerID="0" template="1163" nodeTypeAlias="BlogpostCarry">
            <CourseImageBanner><![CDATA[/media/1222/dota-2014-06-19-03-46-56-46-compressor.png]]></CourseImageBanner>
            <filter><![CDATA[Beginner]]></filter>
            <textbox><![CDATA[<div class="introtitle">   
<h1>How To Ward Your Hard Camp As A Support</h1>
</div>
<p style="text-align: left;"><span class="introtitle">Today we’d like to share a couple of tab styles with you. The collection contains some styles and effects  blandit purus dolor, et interdum ante elementum eu. Nam eget sollicitudin metus. Vestibulum hendrerit diam ipsum, in commodo lacus aliquet a. Phasellus eu faucibus lacus, eget sagittis metus. Mauris imperdiet vestibulum nibh, et euismod mi dictum et. Vestibulum non molestie nulla. Aenean ut vulputate tortor. Curabitur ac pellentesque justo, sit amet consequat magna.</span><br /><br /><span class="introtitle"><img src="/media/1030/dota-2014-09-16-21-28-30-02.jpg?width=914px&amp;height=513px" alt="undefined" rel="1221" /></span><br /><br /></p>
<div class="introtitle">
<h1>Closing Title and Ending Paragraph</h1>
<p>Today we’d like to share a couple of tab styles with you. The collection contains some styles and effects  blandit purus dolor, et interdum ante elementum eu. Nam eget sollicitudin metus. Vestibulum hendrerit diam ipsum, in commodo lacus aliquet a. Phasellus eu faucibus lacus, eget sagittis metus. Mauris imperdiet vestibulum nibh, et euismod mi dictum et. Vestibulum non molestie nulla. Aenean ut vulputate tortor. Curabitur ac pellentesque justo, sit amet consequat magna.<br /><br /><br /><br /></p>
</div>]]></textbox>
            <description><![CDATA[<p>Today we’d like to share a couple of tab styles with you. The collection contains some styles and effects  blandit purus dolor, et interdum ante elementum eu. Nam eget sollicitudin metus. Vestibulum hendrerit diam ipsum, in commodo lacus aliquet a. Phasellus eu faucibus lacus, eget sagittis metus. Mauris imperdiet vestibulum nibh, et euismod mi dictum et. Vestibulum non molestie nulla. Aenean ut vulputate tortor. Curabitur ac pellentesque justo, sit amet consequat magna.</p>]]></description>
          </BlogpostCarry>
        </ExperiencelevelCarry>
        <ExperiencelevelCarry id="1196" parentID="1194" level="4" creatorID="0" sortOrder="1" createDate="2014-11-30T23:22:43" updateDate="2014-11-30T23:55:02" nodeName="Intermediate" urlName="intermediate" path="-1,1065,1066,1194,1196" isDoc="" nodeType="1168" creatorName="Mygel" writerName="Mygel" writerID="0" template="1122" nodeTypeAlias="ExperiencelevelCarry">
          <BlogpostCarry id="1215" parentID="1196" level="5" creatorID="0" sortOrder="0" createDate="2014-11-30T23:27:48" updateDate="2014-12-09T18:25:53" nodeName="Intermediate: Carry Post #1" urlName="intermediate-carry-post-1" path="-1,1065,1066,1194,1196,1215" isDoc="" nodeType="1170" creatorName="Mygel" writerName="Mygel" writerID="0" template="1163" nodeTypeAlias="BlogpostCarry">
            <CourseImageBanner><![CDATA[/media/1223/dota-2014-06-19-03-46-56-46-compressor.png]]></CourseImageBanner>
            <filter><![CDATA[Intermediate]]></filter>
          </BlogpostCarry>
          <BlogpostCarry id="1234" parentID="1196" level="5" creatorID="0" sortOrder="1" createDate="2014-12-01T00:56:31" updateDate="2014-12-09T18:25:56" nodeName="Intermediate: Carry Post #2" urlName="intermediate-carry-post-2" path="-1,1065,1066,1194,1196,1234" isDoc="" nodeType="1170" creatorName="Mygel" writerName="Mygel" writerID="0" template="1163" nodeTypeAlias="BlogpostCarry">
            <CourseImageBanner><![CDATA[/media/1224/dota-2014-06-19-03-46-56-46-compressor.png]]></CourseImageBanner>
            <filter><![CDATA[Intermediate]]></filter>
          </BlogpostCarry>
          <BlogpostCarry id="1235" parentID="1196" level="5" creatorID="0" sortOrder="2" createDate="2014-12-01T00:56:57" updateDate="2014-12-09T18:26:02" nodeName="Intermediate: Carry Post #3" urlName="intermediate-carry-post-3" path="-1,1065,1066,1194,1196,1235" isDoc="" nodeType="1170" creatorName="Mygel" writerName="Mygel" writerID="0" template="1163" nodeTypeAlias="BlogpostCarry">
            <CourseImageBanner><![CDATA[/media/1225/dota-2014-06-19-03-46-56-46-compressor.png]]></CourseImageBanner>
            <filter><![CDATA[Intermediate]]></filter>
          </BlogpostCarry>
          <BlogpostCarry id="1236" parentID="1196" level="5" creatorID="0" sortOrder="3" createDate="2014-12-01T00:57:23" updateDate="2014-12-09T18:26:05" nodeName="Intermediate: Carry Post #4" urlName="intermediate-carry-post-4" path="-1,1065,1066,1194,1196,1236" isDoc="" nodeType="1170" creatorName="Mygel" writerName="Mygel" writerID="0" template="1163" nodeTypeAlias="BlogpostCarry">
            <CourseImageBanner><![CDATA[/media/1226/dota-2014-06-19-03-46-56-46-compressor.png]]></CourseImageBanner>
            <filter><![CDATA[Intermediate]]></filter>
          </BlogpostCarry>
        </ExperiencelevelCarry>
        <ExperiencelevelCarry id="1197" parentID="1194" level="4" creatorID="0" sortOrder="2" createDate="2014-11-30T23:22:49" updateDate="2014-11-30T23:55:14" nodeName="Advance" urlName="advance" path="-1,1065,1066,1194,1197" isDoc="" nodeType="1168" creatorName="Mygel" writerName="Mygel" writerID="0" template="1122" nodeTypeAlias="ExperiencelevelCarry">
          <BlogpostCarry id="1216" parentID="1197" level="5" creatorID="0" sortOrder="0" createDate="2014-11-30T23:28:02" updateDate="2014-12-09T18:26:09" nodeName="Advance: Carry Post #2" urlName="advance-carry-post-2" path="-1,1065,1066,1194,1197,1216" isDoc="" nodeType="1170" creatorName="Mygel" writerName="Mygel" writerID="0" template="1163" nodeTypeAlias="BlogpostCarry">
            <CourseImageBanner><![CDATA[/media/1227/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Advance]]></filter>
          </BlogpostCarry>
          <BlogpostCarry id="1231" parentID="1197" level="5" creatorID="0" sortOrder="1" createDate="2014-12-01T00:50:01" updateDate="2014-12-09T18:26:13" nodeName="Advance: Carry Post #3" urlName="advance-carry-post-3" path="-1,1065,1066,1194,1197,1231" isDoc="" nodeType="1170" creatorName="Mygel" writerName="Mygel" writerID="0" template="1163" nodeTypeAlias="BlogpostCarry">
            <CourseImageBanner><![CDATA[/media/1228/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Advance]]></filter>
          </BlogpostCarry>
          <BlogpostCarry id="1232" parentID="1197" level="5" creatorID="0" sortOrder="2" createDate="2014-12-01T00:50:11" updateDate="2014-12-09T18:26:18" nodeName="Advance: Carry Post #4" urlName="advance-carry-post-4" path="-1,1065,1066,1194,1197,1232" isDoc="" nodeType="1170" creatorName="Mygel" writerName="Mygel" writerID="0" template="1163" nodeTypeAlias="BlogpostCarry">
            <CourseImageBanner><![CDATA[/media/1229/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Intermediate]]></filter>
          </BlogpostCarry>
          <BlogpostCarry id="1233" parentID="1197" level="5" creatorID="0" sortOrder="3" createDate="2014-12-01T00:53:42" updateDate="2014-12-09T18:26:21" nodeName="Advance: Carry Post #5" urlName="advance-carry-post-5" path="-1,1065,1066,1194,1197,1233" isDoc="" nodeType="1170" creatorName="Mygel" writerName="Mygel" writerID="0" template="1163" nodeTypeAlias="BlogpostCarry">
            <CourseImageBanner><![CDATA[/media/1230/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Advance]]></filter>
          </BlogpostCarry>
        </ExperiencelevelCarry>
      </Carry>
      <Jungler id="1198" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2014-11-30T23:23:00" updateDate="2014-11-30T23:59:16" nodeName="Jungler" urlName="jungler" path="-1,1065,1066,1198" isDoc="" nodeType="1160" creatorName="Mygel" writerName="Mygel" writerID="0" template="1159" nodeTypeAlias="Jungler">
        <ExperiencelevelJungler id="1199" parentID="1198" level="4" creatorID="0" sortOrder="0" createDate="2014-11-30T23:23:07" updateDate="2014-11-30T23:58:38" nodeName="Beginner" urlName="beginner" path="-1,1065,1066,1198,1199" isDoc="" nodeType="1176" creatorName="Mygel" writerName="Mygel" writerID="0" template="1175" nodeTypeAlias="ExperiencelevelJungler">
          <BlogpostJungler id="1222" parentID="1199" level="5" creatorID="0" sortOrder="0" createDate="2014-11-30T23:53:47" updateDate="2014-12-09T18:21:47" nodeName="Beginner: Jungler Post #1" urlName="beginner-jungler-post-1" path="-1,1065,1066,1198,1199,1222" isDoc="" nodeType="1178" creatorName="Mygel" writerName="Mygel" writerID="0" template="1165" nodeTypeAlias="BlogpostJungler">
            <CourseImageBanner><![CDATA[/media/1221/dota-2014-06-19-03-46-56-46-compressor.png]]></CourseImageBanner>
            <filter><![CDATA[Beginner]]></filter>
          </BlogpostJungler>
          <BlogpostJungler id="1270" parentID="1199" level="5" creatorID="0" sortOrder="1" createDate="2014-12-07T21:40:24" updateDate="2014-12-09T18:23:31" nodeName="Beginner: Jungler Post #2" urlName="beginner-jungler-post-2" path="-1,1065,1066,1198,1199,1270" isDoc="" nodeType="1178" creatorName="Mygel" writerName="Mygel" writerID="0" template="1165" nodeTypeAlias="BlogpostJungler">
            <CourseImageBanner><![CDATA[/media/1236/dota-2014-06-19-03-46-56-46-compressor.png]]></CourseImageBanner>
            <filter><![CDATA[Beginner]]></filter>
          </BlogpostJungler>
        </ExperiencelevelJungler>
        <ExperiencelevelJungler id="1200" parentID="1198" level="4" creatorID="0" sortOrder="1" createDate="2014-11-30T23:23:15" updateDate="2014-11-30T23:58:45" nodeName="Intermediate" urlName="intermediate" path="-1,1065,1066,1198,1200" isDoc="" nodeType="1176" creatorName="Mygel" writerName="Mygel" writerID="0" template="1175" nodeTypeAlias="ExperiencelevelJungler">
          <BlogpostJungler id="1223" parentID="1200" level="5" creatorID="0" sortOrder="0" createDate="2014-11-30T23:53:59" updateDate="2014-12-09T18:23:38" nodeName="Intermediate: Jungler Post #2" urlName="intermediate-jungler-post-2" path="-1,1065,1066,1198,1200,1223" isDoc="" nodeType="1178" creatorName="Mygel" writerName="Mygel" writerID="0" template="1165" nodeTypeAlias="BlogpostJungler">
            <CourseImageBanner><![CDATA[/media/1221/dota-2014-06-19-03-46-56-46-compressor.png]]></CourseImageBanner>
            <filter><![CDATA[Intermediate]]></filter>
          </BlogpostJungler>
        </ExperiencelevelJungler>
        <ExperiencelevelJungler id="1201" parentID="1198" level="4" creatorID="0" sortOrder="2" createDate="2014-11-30T23:23:21" updateDate="2014-11-30T23:58:52" nodeName="Advance" urlName="advance" path="-1,1065,1066,1198,1201" isDoc="" nodeType="1176" creatorName="Mygel" writerName="Mygel" writerID="0" template="1175" nodeTypeAlias="ExperiencelevelJungler">
          <BlogpostJungler id="1224" parentID="1201" level="5" creatorID="0" sortOrder="0" createDate="2014-11-30T23:54:08" updateDate="2014-12-09T18:23:44" nodeName="Advance: Jungler Post #3" urlName="advance-jungler-post-3" path="-1,1065,1066,1198,1201,1224" isDoc="" nodeType="1178" creatorName="Mygel" writerName="Mygel" writerID="0" template="1165" nodeTypeAlias="BlogpostJungler">
            <CourseImageBanner><![CDATA[/media/1221/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Advance]]></filter>
          </BlogpostJungler>
          <BlogpostJungler id="1242" parentID="1201" level="5" creatorID="0" sortOrder="1" createDate="2014-12-02T22:17:13" updateDate="2014-12-09T18:23:49" nodeName="Advance: Jungler Post #2" urlName="advance-jungler-post-2" path="-1,1065,1066,1198,1201,1242" isDoc="" nodeType="1178" creatorName="Mygel" writerName="Mygel" writerID="0" template="1165" nodeTypeAlias="BlogpostJungler">
            <CourseImageBanner><![CDATA[/media/1231/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Advance]]></filter>
          </BlogpostJungler>
        </ExperiencelevelJungler>
      </Jungler>
      <Offlane id="1202" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2014-11-30T23:23:30" updateDate="2014-11-30T23:23:30" nodeName="Offlane" urlName="offlane" path="-1,1065,1066,1202" isDoc="" nodeType="1158" creatorName="Mygel" writerName="Mygel" writerID="0" template="1157" nodeTypeAlias="Offlane">
        <ExperiencelevelOfflane id="1203" parentID="1202" level="4" creatorID="0" sortOrder="0" createDate="2014-11-30T23:23:41" updateDate="2014-11-30T23:23:41" nodeName="Beginner" urlName="beginner" path="-1,1065,1066,1202,1203" isDoc="" nodeType="1180" creatorName="Mygel" writerName="Mygel" writerID="0" template="1179" nodeTypeAlias="ExperiencelevelOfflane">
          <BlogpostOfflane id="1226" parentID="1203" level="5" creatorID="0" sortOrder="0" createDate="2014-12-01T00:23:26" updateDate="2014-12-09T18:29:13" nodeName="Beginner: Offlane Post #1" urlName="beginner-offlane-post-1" path="-1,1065,1066,1202,1203,1226" isDoc="" nodeType="1182" creatorName="Mygel" writerName="Mygel" writerID="0" template="1181" nodeTypeAlias="BlogpostOfflane">
            <CourseImageBanner><![CDATA[/media/1221/dota-2014-06-19-03-46-56-46-compressor.png]]></CourseImageBanner>
            <filter><![CDATA[Beginner]]></filter>
          </BlogpostOfflane>
        </ExperiencelevelOfflane>
        <ExperiencelevelOfflane id="1204" parentID="1202" level="4" creatorID="0" sortOrder="1" createDate="2014-11-30T23:23:45" updateDate="2014-11-30T23:23:45" nodeName="Intermediate" urlName="intermediate" path="-1,1065,1066,1202,1204" isDoc="" nodeType="1180" creatorName="Mygel" writerName="Mygel" writerID="0" template="1179" nodeTypeAlias="ExperiencelevelOfflane">
          <BlogpostOfflane id="1227" parentID="1204" level="5" creatorID="0" sortOrder="0" createDate="2014-12-01T00:23:37" updateDate="2014-12-09T18:29:07" nodeName="Intermediate: Offlane Post #2" urlName="intermediate-offlane-post-2" path="-1,1065,1066,1202,1204,1227" isDoc="" nodeType="1182" creatorName="Mygel" writerName="Mygel" writerID="0" template="1181" nodeTypeAlias="BlogpostOfflane">
            <CourseImageBanner><![CDATA[/media/1233/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Intermediate]]></filter>
          </BlogpostOfflane>
          <BlogpostOfflane id="1243" parentID="1204" level="5" creatorID="0" sortOrder="1" createDate="2014-12-02T22:24:17" updateDate="2014-12-09T18:29:03" nodeName="Intermediate: Offlane Post #3" urlName="intermediate-offlane-post-3" path="-1,1065,1066,1202,1204,1243" isDoc="" nodeType="1182" creatorName="Mygel" writerName="Mygel" writerID="0" template="1181" nodeTypeAlias="BlogpostOfflane">
            <CourseImageBanner><![CDATA[/media/1232/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Intermediate]]></filter>
          </BlogpostOfflane>
        </ExperiencelevelOfflane>
        <ExperiencelevelOfflane id="1205" parentID="1202" level="4" creatorID="0" sortOrder="2" createDate="2014-11-30T23:23:52" updateDate="2014-11-30T23:23:52" nodeName="Advance" urlName="advance" path="-1,1065,1066,1202,1205" isDoc="" nodeType="1180" creatorName="Mygel" writerName="Mygel" writerID="0" template="1179" nodeTypeAlias="ExperiencelevelOfflane">
          <BlogpostOfflane id="1228" parentID="1205" level="5" creatorID="0" sortOrder="0" createDate="2014-12-01T00:23:50" updateDate="2014-12-09T18:28:58" nodeName="Advance: Offlane Post #3" urlName="advance-offlane-post-3" path="-1,1065,1066,1202,1205,1228" isDoc="" nodeType="1182" creatorName="Mygel" writerName="Mygel" writerID="0" template="1181" nodeTypeAlias="BlogpostOfflane">
            <CourseImageBanner><![CDATA[/media/1234/dota-2014-06-19-03-46-56-46-compressor.png]]></CourseImageBanner>
            <filter><![CDATA[Advance]]></filter>
          </BlogpostOfflane>
        </ExperiencelevelOfflane>
      </Offlane>
      <SemiCarry id="1206" parentID="1066" level="3" creatorID="0" sortOrder="3" createDate="2014-11-30T23:24:02" updateDate="2014-11-30T23:24:02" nodeName="Semi-Carry" urlName="semi-carry" path="-1,1065,1066,1206" isDoc="" nodeType="1162" creatorName="Mygel" writerName="Mygel" writerID="0" template="1161" nodeTypeAlias="SemiCarry">
        <ExperiencelevelSemicarry id="1207" parentID="1206" level="4" creatorID="0" sortOrder="0" createDate="2014-11-30T23:24:08" updateDate="2014-11-30T23:24:08" nodeName="Beginner" urlName="beginner" path="-1,1065,1066,1206,1207" isDoc="" nodeType="1184" creatorName="Mygel" writerName="Mygel" writerID="0" template="1183" nodeTypeAlias="ExperiencelevelSemicarry">
          <BlogpostSemicarry id="1229" parentID="1207" level="5" creatorID="0" sortOrder="0" createDate="2014-12-01T00:45:34" updateDate="2014-12-09T18:29:39" nodeName="Beginner: SemiCarry Post #1" urlName="beginner-semicarry-post-1" path="-1,1065,1066,1206,1207,1229" isDoc="" nodeType="1186" creatorName="Mygel" writerName="Mygel" writerID="0" template="1185" nodeTypeAlias="BlogpostSemicarry">
            <CourseImageBanner><![CDATA[/media/1221/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Beginner]]></filter>
          </BlogpostSemicarry>
        </ExperiencelevelSemicarry>
        <ExperiencelevelSemicarry id="1208" parentID="1206" level="4" creatorID="0" sortOrder="1" createDate="2014-11-30T23:24:15" updateDate="2014-11-30T23:24:15" nodeName="Intermediate" urlName="intermediate" path="-1,1065,1066,1206,1208" isDoc="" nodeType="1184" creatorName="Mygel" writerName="Mygel" writerID="0" template="1183" nodeTypeAlias="ExperiencelevelSemicarry" />
        <ExperiencelevelSemicarry id="1209" parentID="1206" level="4" creatorID="0" sortOrder="2" createDate="2014-11-30T23:24:21" updateDate="2014-11-30T23:24:21" nodeName="Advance" urlName="advance" path="-1,1065,1066,1206,1209" isDoc="" nodeType="1184" creatorName="Mygel" writerName="Mygel" writerID="0" template="1183" nodeTypeAlias="ExperiencelevelSemicarry" />
      </SemiCarry>
      <Support id="1210" parentID="1066" level="3" creatorID="0" sortOrder="4" createDate="2014-11-30T23:24:30" updateDate="2014-11-30T23:24:30" nodeName="Support" urlName="support" path="-1,1065,1066,1210" isDoc="" nodeType="1156" creatorName="Mygel" writerName="Mygel" writerID="0" template="1155" nodeTypeAlias="Support">
        <ExperiencelevelSupport id="1211" parentID="1210" level="4" creatorID="0" sortOrder="0" createDate="2014-11-30T23:24:39" updateDate="2014-11-30T23:24:39" nodeName="Beginner" urlName="beginner" path="-1,1065,1066,1210,1211" isDoc="" nodeType="1188" creatorName="Mygel" writerName="Mygel" writerID="0" template="1187" nodeTypeAlias="ExperiencelevelSupport">
          <BlogpostSupport id="1230" parentID="1211" level="5" creatorID="0" sortOrder="0" createDate="2014-12-01T00:45:54" updateDate="2014-12-09T18:29:26" nodeName="Beginner: Support Post #1" urlName="beginner-support-post-1" path="-1,1065,1066,1210,1211,1230" isDoc="" nodeType="1190" creatorName="Mygel" writerName="Mygel" writerID="0" template="1189" nodeTypeAlias="BlogpostSupport">
            <CourseImageBanner><![CDATA[/media/1221/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Beginner]]></filter>
          </BlogpostSupport>
          <BlogpostSupport id="1260" parentID="1211" level="5" creatorID="0" sortOrder="1" createDate="2014-12-07T00:54:38" updateDate="2014-12-09T18:29:31" nodeName="Beginner: Support Post #2" urlName="beginner-support-post-2" path="-1,1065,1066,1210,1211,1260" isDoc="" nodeType="1190" creatorName="Mygel" writerName="Mygel" writerID="0" template="1189" nodeTypeAlias="BlogpostSupport">
            <CourseImageBanner><![CDATA[/media/1235/dota-2014-09-16-21-28-30-02.jpg]]></CourseImageBanner>
            <filter><![CDATA[Beginner]]></filter>
          </BlogpostSupport>
        </ExperiencelevelSupport>
        <ExperiencelevelSupport id="1212" parentID="1210" level="4" creatorID="0" sortOrder="1" createDate="2014-11-30T23:24:44" updateDate="2014-11-30T23:24:44" nodeName="Intermediate" urlName="intermediate" path="-1,1065,1066,1210,1212" isDoc="" nodeType="1188" creatorName="Mygel" writerName="Mygel" writerID="0" template="1187" nodeTypeAlias="ExperiencelevelSupport" />
        <ExperiencelevelSupport id="1213" parentID="1210" level="4" creatorID="0" sortOrder="2" createDate="2014-11-30T23:24:50" updateDate="2014-11-30T23:24:50" nodeName="Advance" urlName="advance" path="-1,1065,1066,1210,1213" isDoc="" nodeType="1188" creatorName="Mygel" writerName="Mygel" writerID="0" template="1187" nodeTypeAlias="ExperiencelevelSupport" />
      </Support>
      <Experiencefilterpositionsbeginner id="1267" parentID="1066" level="3" creatorID="0" sortOrder="5" createDate="2014-12-07T20:54:31" updateDate="2014-12-07T20:54:31" nodeName="Beginner" urlName="beginner" path="-1,1065,1066,1267" isDoc="" nodeType="1262" creatorName="Mygel" writerName="Mygel" writerID="0" template="1261" nodeTypeAlias="Experiencefilterpositionsbeginner" />
      <Experiencefilterpositionsintermediate id="1268" parentID="1066" level="3" creatorID="0" sortOrder="6" createDate="2014-12-07T20:54:46" updateDate="2014-12-07T20:54:46" nodeName="Intermediate" urlName="intermediate" path="-1,1065,1066,1268" isDoc="" nodeType="1264" creatorName="Mygel" writerName="Mygel" writerID="0" template="1263" nodeTypeAlias="Experiencefilterpositionsintermediate" />
      <Experiencefilterpositionsadvance id="1269" parentID="1066" level="3" creatorID="0" sortOrder="7" createDate="2014-12-07T20:54:55" updateDate="2014-12-07T20:54:55" nodeName="Advance" urlName="advance" path="-1,1065,1066,1269" isDoc="" nodeType="1266" creatorName="Mygel" writerName="Mygel" writerID="0" template="1265" nodeTypeAlias="Experiencefilterpositionsadvance" />
    </SubcategoryPositions>
    <SubcategoryMetagame id="1067" parentID="1065" level="2" creatorID="0" sortOrder="1" createDate="2014-07-15T12:09:42" updateDate="2015-01-10T03:21:15" nodeName="Metagame" urlName="metagame" path="-1,1065,1067" isDoc="" nodeType="1097" creatorName="Mygel" writerName="Mygel" writerID="0" template="1096" nodeTypeAlias="SubcategoryMetagame">
      <Experiencelevelfiltermetagamebeginner id="1286" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2014-12-19T22:38:48" updateDate="2014-12-19T22:38:48" nodeName="Beginner" urlName="beginner" path="-1,1065,1067,1286" isDoc="" nodeType="1281" creatorName="Mygel" writerName="Mygel" writerID="0" template="1280" nodeTypeAlias="Experiencelevelfiltermetagamebeginner">
        <Blogpostmetagame id="1319" parentID="1286" level="4" creatorID="0" sortOrder="0" createDate="2015-01-09T18:44:07" updateDate="2015-01-09T19:12:32" nodeName="Beginner: Metagame Post #1" urlName="beginner-metagame-post-1" path="-1,1065,1067,1286,1319" isDoc="" nodeType="1318" creatorName="Mygel" writerName="Mygel" writerID="0" template="1274" nodeTypeAlias="Blogpostmetagame" />
        <Blogpostmetagame id="1323" parentID="1286" level="4" creatorID="0" sortOrder="1" createDate="2015-01-09T19:13:55" updateDate="2015-01-09T19:13:55" nodeName="Beginner: Metagame Post #2" urlName="beginner-metagame-post-2" path="-1,1065,1067,1286,1323" isDoc="" nodeType="1318" creatorName="Mygel" writerName="Mygel" writerID="0" template="1274" nodeTypeAlias="Blogpostmetagame" />
      </Experiencelevelfiltermetagamebeginner>
      <Experiencelevelfiltermetagameintermediate id="1287" parentID="1067" level="3" creatorID="0" sortOrder="2" createDate="2014-12-19T22:38:57" updateDate="2014-12-19T22:38:57" nodeName="Intermediate" urlName="intermediate" path="-1,1065,1067,1287" isDoc="" nodeType="1283" creatorName="Mygel" writerName="Mygel" writerID="0" template="1282" nodeTypeAlias="Experiencelevelfiltermetagameintermediate">
        <Blogpostmetagame id="1320" parentID="1287" level="4" creatorID="0" sortOrder="0" createDate="2015-01-09T18:45:01" updateDate="2015-01-09T19:12:49" nodeName="Intermediate: Metagame Post #1" urlName="intermediate-metagame-post-1" path="-1,1065,1067,1287,1320" isDoc="" nodeType="1318" creatorName="Mygel" writerName="Mygel" writerID="0" template="1274" nodeTypeAlias="Blogpostmetagame" />
      </Experiencelevelfiltermetagameintermediate>
      <Experiencelevelfiltermetagameadvance id="1288" parentID="1067" level="3" creatorID="0" sortOrder="3" createDate="2014-12-19T22:39:04" updateDate="2014-12-19T22:39:04" nodeName="Advance" urlName="advance" path="-1,1065,1067,1288" isDoc="" nodeType="1285" creatorName="Mygel" writerName="Mygel" writerID="0" template="1284" nodeTypeAlias="Experiencelevelfiltermetagameadvance">
        <Blogpostmetagame id="1321" parentID="1288" level="4" creatorID="0" sortOrder="0" createDate="2015-01-09T18:45:16" updateDate="2015-01-09T19:12:54" nodeName="Advance: Metagame Post #1" urlName="advance-metagame-post-1" path="-1,1065,1067,1288,1321" isDoc="" nodeType="1318" creatorName="Mygel" writerName="Mygel" writerID="0" template="1274" nodeTypeAlias="Blogpostmetagame" />
        <Blogpostmetagame id="1322" parentID="1288" level="4" creatorID="0" sortOrder="1" createDate="2015-01-09T18:48:20" updateDate="2015-01-09T19:12:56" nodeName="Advance: Metagame Post #2" urlName="advance-metagame-post-2" path="-1,1065,1067,1288,1322" isDoc="" nodeType="1318" creatorName="Mygel" writerName="Mygel" writerID="0" template="1274" nodeTypeAlias="Blogpostmetagame" />
      </Experiencelevelfiltermetagameadvance>
    </SubcategoryMetagame>
    <SubcategoryMechanics id="1246" parentID="1065" level="2" creatorID="0" sortOrder="2" createDate="2014-12-04T20:26:09" updateDate="2015-01-10T03:21:15" nodeName="Mechanics" urlName="mechanics" path="-1,1065,1246" isDoc="" nodeType="1245" creatorName="Mygel" writerName="Mygel" writerID="0" template="1244" nodeTypeAlias="SubcategoryMechanics">
      <Experiencelevelfiltermechbeginner id="1300" parentID="1246" level="3" creatorID="0" sortOrder="0" createDate="2014-12-23T00:04:30" updateDate="2014-12-23T00:04:30" nodeName="Beginner" urlName="beginner" path="-1,1065,1246,1300" isDoc="" nodeType="1299" creatorName="Mygel" writerName="Mygel" writerID="0" template="1298" nodeTypeAlias="Experiencelevelfiltermechbeginner">
        <BlogpostMech id="1304" parentID="1300" level="4" creatorID="0" sortOrder="0" createDate="2014-12-23T00:24:35" updateDate="2014-12-23T15:25:22" nodeName="Mech: Beginner Post #1" urlName="mech-beginner-post-1" path="-1,1065,1246,1300,1304" isDoc="" nodeType="1293" creatorName="Mygel" writerName="Mygel" writerID="0" template="1292" nodeTypeAlias="BlogpostMech">
          <courseimagebanner><![CDATA[/media/1237/dota-2014-09-16-21-28-30-02.jpg]]></courseimagebanner>
        </BlogpostMech>
      </Experiencelevelfiltermechbeginner>
      <Experiencelevelfiltermechintermediate id="1301" parentID="1246" level="3" creatorID="0" sortOrder="1" createDate="2014-12-23T00:04:41" updateDate="2014-12-23T00:04:41" nodeName="Intermediate" urlName="intermediate" path="-1,1065,1246,1301" isDoc="" nodeType="1297" creatorName="Mygel" writerName="Mygel" writerID="0" template="1296" nodeTypeAlias="Experiencelevelfiltermechintermediate">
        <BlogpostMech id="1305" parentID="1301" level="4" creatorID="0" sortOrder="0" createDate="2014-12-23T00:24:45" updateDate="2014-12-23T00:24:45" nodeName="Mech: Intermediate Post #1" urlName="mech-intermediate-post-1" path="-1,1065,1246,1301,1305" isDoc="" nodeType="1293" creatorName="Mygel" writerName="Mygel" writerID="0" template="1292" nodeTypeAlias="BlogpostMech" />
      </Experiencelevelfiltermechintermediate>
      <Experiencelevelfiltermechadvance id="1302" parentID="1246" level="3" creatorID="0" sortOrder="2" createDate="2014-12-23T00:04:48" updateDate="2014-12-23T00:04:48" nodeName="Advance" urlName="advance" path="-1,1065,1246,1302" isDoc="" nodeType="1295" creatorName="Mygel" writerName="Mygel" writerID="0" template="1294" nodeTypeAlias="Experiencelevelfiltermechadvance">
        <BlogpostMech id="1306" parentID="1302" level="4" creatorID="0" sortOrder="0" createDate="2014-12-23T00:24:54" updateDate="2014-12-23T00:24:54" nodeName="Mech: Advance Post #1" urlName="mech-advance-post-1" path="-1,1065,1246,1302,1306" isDoc="" nodeType="1293" creatorName="Mygel" writerName="Mygel" writerID="0" template="1292" nodeTypeAlias="BlogpostMech" />
      </Experiencelevelfiltermechadvance>
    </SubcategoryMechanics>
    <SubcategoryHeroes id="1069" parentID="1065" level="2" creatorID="0" sortOrder="3" createDate="2014-07-15T12:10:05" updateDate="2015-01-10T03:21:15" nodeName="Heroes" urlName="heroes" path="-1,1065,1069" isDoc="" nodeType="1057" creatorName="Mygel" writerName="Mygel" writerID="0" template="1056" nodeTypeAlias="SubcategoryHeroes">
      <test><![CDATA[THIS IS THE TEST]]></test>
    </SubcategoryHeroes>
    <SubmenuIntrotodota2 id="1339" parentID="1065" level="2" creatorID="0" sortOrder="4" createDate="2015-01-10T03:19:05" updateDate="2015-01-10T03:21:30" nodeName="Introduction" urlName="introduction" path="-1,1065,1339" isDoc="" nodeType="1332" creatorName="Mygel" writerName="Mygel" writerID="0" template="1331" nodeTypeAlias="SubmenuIntrotodota2" />
    <SubmenuEditorsChoice id="1340" parentID="1065" level="2" creatorID="0" sortOrder="5" createDate="2015-01-10T03:19:22" updateDate="2015-01-10T03:21:30" nodeName="Editors-Choice" urlName="editors-choice" path="-1,1065,1340" isDoc="" nodeType="1336" creatorName="Mygel" writerName="Mygel" writerID="0" template="1335" nodeTypeAlias="SubmenuEditorsChoice" />
    <SubmenuMiscellaneous id="1341" parentID="1065" level="2" creatorID="0" sortOrder="6" createDate="2015-01-10T03:19:30" updateDate="2015-01-10T03:21:30" nodeName="Miscellaneous" urlName="miscellaneous" path="-1,1065,1341" isDoc="" nodeType="1338" creatorName="Mygel" writerName="Mygel" writerID="0" template="1337" nodeTypeAlias="SubmenuMiscellaneous" />
    <Experiencefilterbeginner id="1257" parentID="1065" level="2" creatorID="0" sortOrder="7" createDate="2014-12-05T09:53:33" updateDate="2015-01-10T03:21:30" nodeName="Beginner" urlName="beginner" path="-1,1065,1257" isDoc="" nodeType="1252" creatorName="Mygel" writerName="Mygel" writerID="0" template="1251" nodeTypeAlias="Experiencefilterbeginner" />
    <Experiencefilterintermediate id="1258" parentID="1065" level="2" creatorID="0" sortOrder="8" createDate="2014-12-05T09:53:45" updateDate="2015-01-10T03:21:30" nodeName="Intermediate" urlName="intermediate" path="-1,1065,1258" isDoc="" nodeType="1254" creatorName="Mygel" writerName="Mygel" writerID="0" template="1253" nodeTypeAlias="Experiencefilterintermediate" />
    <Experiencefilteradvance id="1259" parentID="1065" level="2" creatorID="0" sortOrder="9" createDate="2014-12-05T09:53:52" updateDate="2015-01-10T03:21:30" nodeName="Advance" urlName="advance" path="-1,1065,1259" isDoc="" nodeType="1256" creatorName="Mygel" writerName="Mygel" writerID="0" template="1255" nodeTypeAlias="Experiencefilteradvance" />
    <SubcategoryProducts id="1313" parentID="1065" level="2" creatorID="0" sortOrder="10" createDate="2015-01-07T08:09:48" updateDate="2015-01-10T03:21:30" nodeName="Products" urlName="products" path="-1,1065,1313" isDoc="" nodeType="1310" creatorName="Mygel" writerName="Mygel" writerID="0" template="1309" nodeTypeAlias="SubcategoryProducts">
      <AmazonProduct id="1314" parentID="1313" level="3" creatorID="0" sortOrder="0" createDate="2015-01-07T08:11:24" updateDate="2015-01-07T08:11:33" nodeName="Logitech Wireless Gaming Headset G390" urlName="logitech-wireless-gaming-headset-g390" path="-1,1065,1313,1314" isDoc="" nodeType="1312" creatorName="Mygel" writerName="Mygel" writerID="0" template="1311" nodeTypeAlias="AmazonProduct">
        <productimage><![CDATA[/media/1241/4148y6iq1xl_sy450_.png]]></productimage>
        <productname><![CDATA[Logitech Wireless Gaming Headset G390]]></productname>
      </AmazonProduct>
      <AmazonProduct id="1315" parentID="1313" level="3" creatorID="0" sortOrder="1" createDate="2015-01-07T08:12:04" updateDate="2015-01-07T08:12:04" nodeName="Anker® Gaming Mouse" urlName="anker-gaming-mouse" path="-1,1065,1313,1315" isDoc="" nodeType="1312" creatorName="Mygel" writerName="Mygel" writerID="0" template="1311" nodeTypeAlias="AmazonProduct">
        <productimage><![CDATA[/media/1242/xxxxxxxxx.png]]></productimage>
        <productname><![CDATA[Anker® Gaming Mouse]]></productname>
      </AmazonProduct>
      <AmazonProduct id="1316" parentID="1313" level="3" creatorID="0" sortOrder="2" createDate="2015-01-07T08:15:08" updateDate="2015-01-07T08:15:08" nodeName="SteelSeries QCK+ Gaming Mouse Pad  - Dota2 Edition" urlName="steelseries-qckplus-gaming-mouse-pad-dota2-edition" path="-1,1065,1313,1316" isDoc="" nodeType="1312" creatorName="Mygel" writerName="Mygel" writerID="0" template="1311" nodeTypeAlias="AmazonProduct">
        <productimage><![CDATA[/media/1243/310meyiwq6l.png]]></productimage>
        <productname><![CDATA[SteelSeries QCK+ Gaming Mouse Pad  - Dota2 Edition]]></productname>
      </AmazonProduct>
    </SubcategoryProducts>
  </Homepage>
</root>