@inherits umbraco.MacroEngines.DynamicNodeContext
	
        <div class="show-for-large-up large-3 pull-9 columns">
            <div class="HomepageSidebar">
                <ul class="TopNavigation">
                    <li>
                        <nav class="CategoriesNaviation">
                            <h3>Categories</h3>
                            <ul>
                                <li><a href="/Positions/Carry/"><i class="fa fa-home fa-fw fa-2x"></i><span>Carry</span></a></li>
                                <li><a href="/Positions/Support/"><i class="fa fa-bookmark fa-fw fa-2x"></i><span>Support</span></a></li>
                                <li><a href="/Positions/Semi-Carry/"><i class="fa fa-circle fa-fw fa-2x"></i><span>Semi-Carry</span></a></li>
                                <li><a href="/Positions/Offlane/"><i class="fa fa-leaf fa-fw fa-2x"></i><span>Offlane</span></a></li>
                                <li><a href="/Positions/Jungler/"><i class="fa fa-phone fa-fw fa-2x"></i><span>Jungler</span></a></li>
                            </ul>
                        </nav>
                    </li>
                </ul>
                <ul class="SecondNavigation">
                    <li>
                        <nav class="CategoriesNaviation">
                            <h3>Experience Filter</h3>
                            <ul>
                                <li>
                                    <a href="/Positions/@Model.Name/">
                                        <i class="fa fa-list fa-fw fa-2x"></i><span>No Filter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Positions/@Model.Name/Beginner/">
                                        <i class="fa fa-list fa-fw fa-2x"></i><span>Beginner</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Positions/@Model.Name/Intermediate/">
                                        <i class="fa fa-list fa-fw fa-2x"></i><span>Intermediate</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Positions/@Model.Name/Advance/">
                                        <i class="fa fa-list fa-fw fa-2x"></i><span>Advance</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </li>
                </ul>
            </div>
        </div>
