@inherits umbraco.MacroEngines.DynamicNodeContext

        <div class="show-for-large-up large-3 pull-9 end columns">
            <div class="HomepageSidebar">
                <ul class="TopNavigation">
                    <li>
                        <nav class="CategoriesNaviation">
                            <h3>Categories</h3>
                            <ul class="TopNavigationSmall">
                                <li>
                                    <a href="/Introduction/">
                                        <i class="fa fa-home fa-fw fa-2x"></i><span>Introduction to DOTA2</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/editors-choice/">
                                        <i class="fa fa-circle fa-fw fa-2x"></i><span>Editors Choice</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Miscellaneous/">
                                        <i class="fa fa-circle fa-fw fa-2x"></i><span>Miscellaneous</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </li>
                </ul>


                <ul class="SecondNavigation">
                    <li>
                        <nav class="CategoriesNaviation">
                            <h3>Experience Filter</h3>

                            <ul>
                                <li>
                                    <a href="/">
                                        <i class="fa fa-list fa-fw fa-2x"></i><span>No Filter</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Beginner/">
                                        <i class="fa fa-list fa-fw fa-2x"></i><span>Beginner</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Intermediate/">
                                        <i class="fa fa-list fa-fw fa-2x"></i><span>Intermediate</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Advance/">
                                        <i class="fa fa-list fa-fw fa-2x"></i><span>Advance</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </li>
                </ul>
            </div>
        </div>